.MainChat
  .RightHeader
    .RightHeader__content
      test
      .RightHeader__content__member
        member : masa
    .RightHeader__edit
      = link_to '#', class: "EditColor" do
        = "Edit"
  .MessageField
    .MessageName
      masa
      .MessageDate
        2019/11/20(Wed) 17:43:01
    .MessageChat
      ãŠã¯ã‚ˆã†
  .Footer
    .Footer__Message
      type a message
    .Footer__Icon
      = link_to "https://fontawesome.com/", class: "Icon__btn" do
        %label{class: "Icon__btn"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-image"}
    %input.input-text{:type => "submit", :value => "Send"}