.MainChat{
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;

  .RightHeader{
    height: 100px;
    padding: 0 40px;
    border-bottom: solid 1px #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__content{
      margin-top: 35px;
      font-size: 20px;
      color: #333333;
      &__member{
        margin-top: 15px;
        font-size: 12px;
        color: #999999;
      }
    }
    &__edit{
      height: 40px;
      width: 72px;
      font-size: 16px;
      padding: 0 20px;
      border: 1px solid #38AEF0;
      .EditColor{
        text-decoration: none;
        color: #38AEF0;
        line-height: 40px;
      }
    }
  }

  .MessageField {
    background-color: #fafafa;
    box-sizing: border-box;
    padding: 35px 40px 0;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
  }
  
  .MessageBox{
    margin-bottom: 46px;
  }
  
  .MessageInfo {
    display: flex;
    &__userName {
      color: #434a54;
      font-size: 16px;
      font-weight: bold;
    }
    &__date {
      color: #999;
      font-size: 12px;
      padding-left: 10px;
    }
  }
  .Message {
    margin-top: 12px;
    &__content {
      color: #434a54;
      font-size: 14px;
    }
    &__image{
      height: 300px;
    }
  }
  .Footer{
    background-color: #d2d2d2;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    .Form{
      display: flex;
      justify-content: space-between;
      &__contents{
        background-color: #fff;
        position: relative;
        width: 100%;
      }
        &__inputContent{
          border: none;
          height: 50px;
          padding: 0 45px 0 15px;
        }
          &__inputImage{
            color: black;
            font-size: 25px;
            padding-right: 10px;
            text-decoration: none;
            position: absolute;
            left: 95%;
            bottom: 5px;
          }
          .Hidden{
            display: none;
          }
        &__submit{
          background-color: #38AEF0;
          border: none;
          color: #fff;
          font-size: 16px;
          height: 50px;
          width: 80px;
          margin-left: 15px;
        }
      }
    }
  }