.SideBar{
  background-color: #253141;
  width: 300px;
  height: 100vh;

  .LeftHeader{
    background-color: #253141;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    &__box{
      width: 260px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .UserName{
        color: white;
        font-size: 16px;
        font-weight: bold;
      }
      .Icon{
        &__btn--vew {
          color: white;
        }
      }
    }
  }

  .GroupList{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    overflow: scroll;
    padding: 0 20px;
    font-weight: bold;
    .Group{
      box-sizing: border-box;
      color: white;
      margin-top: 20px;
      margin-bottom: 5px;
      a {
        color: white;
        text-decoration: none;
        font-size: 12px;
      }
    }
    &__message{
      font-size: 11px;
      margin-bottom: 40px;
      color: white;
    .GroupLink{
      color: white;
      text-decoration: none;
    }
    }
  }
}